.information{
    padding: 20px;
    width: 70%;
    float: left;
    font-size: 16px;
    font-weight: 400;
    padding-left: 5%;
    table {
        tbody tr td {
            border: none;
        }
        thead tr th {
            border: none;
        }
    }
    button{
        margin: 10px;
    }
    .list-title{
        padding-bottom: 5px;
        border-bottom: 2px solid #2980b9;
        display: block;
        color: #2980b9;
        font-size: x-large;
    }
    ul li {
        list-style: none;
        border-bottom: 1px dashed #ddd;
        padding: 5px 0px 10px;
    }
    .introduce li {
        border: none;
    }
}