.home{
    font-size: x-large;
    line-height: 30px;
    margin-right: 10px;
}

.btn-previous, .btn-next{
    margin-right: 10px;
}
.option-chaper{
    display: inline-block;
    width: 300px;
    line-height: 30px;
    margin-right: 10px;
}